name: Release Please

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    name: Run release-please
    runs-on: ubuntu-latest
    steps:
      # Requires repository setting "Allow GitHub Actions to create and approve pull requests" to be enabled.
      - name: Run release-please
        uses: googleapis/release-please-action@c2a5a2bd6a758a0937f1ddb1e8950609867ed15c # v4.3.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          target-branch: main
          release-type: rust
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
